.firstColor{
    background-color: #6AAAFF;
}

.secondColor{
    background-color: #7F7D99;
}

.thirdColor{
    background-color: #4E40CC;
}

.fourthColor{
    background-color: #CC7740;
}

.firstText{
    color: #6AAAFF;
}

.fourthText{
    color: #CC7740;
}