.firstColor{
    background-color: #0b0c10;
}

.secondColor{
    background-color: #1f2833;
}

.thirdColor{
    background-color: #c5c6c7;
}

.fourthColor{
    background-color: #66fcf1;
}

.fifthColor {
    background-color: #45a29e;
}

.firstText {
    color: #0b0c10;
}

.secondText {
    color: #1f2833;
}

.thirdText {
    color: #c5c6c7;
}

.fourthText {
    color: #66fcf1;
}

.fifthText {
    color: #45a29e;
}

.card{
    border-color:#66fcf1;
    border-width: .15em;
}

.vibrantBorders{
    border-style: solid;
    border-color:#66fcf1;
    border-width: .15em;
    border-radius: .1em;
}

.btn-contact{
    background-color: #4E40CC;
    border-color: white;
}

.btn-contact:hover{
    background-color: #6AAAFF;
    border-color: #4E40CC;
}

.navTitle{
    font-size: 2em;
    font-weight: 700;
}

#email{
    padding-left: 3px;
    padding-right: 3px;
    background-color: #7F7D99;
    border: none;
    width: 92%;
}

html{
    scroll-behavior: smooth;    
}

h2{
    color: #45a29e;
}

h3{
    color: #66fcf1;
}

